.footer{
    background: rgb(0,0,0);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgb(7, 12, 42) 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    border-top: #BE3144 2px solid;
}



.columna{
    text-align: center;
    a{
        transition: 0.4s;
    }
    
    a:hover{
        color: #BE3144;
        transition: 0.4s;
    }

    img{
        width: 100px;
    }
}

.primera{
    text-align: left;
    h2{
        font-family: "Silkscreen", serif;
        font-size: 20px;
    }
}


.segunda{
    display: flex;
    gap: 20px;
    font-size: 20px;

    p{
        font-size: 15px;
    }

    a:hover{
        color: #E17564;
    }
}

.tercera{
    .datos{
        font-size: 10px;
        text-align: left;
        font-family: "Silkscreen", serif;
    }
}

@media only screen and (max-width: 575px){
    .footer{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .columna{
            .datos{
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .footer{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .columna{
            .datos{
                text-align: center;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 993px) {
    .footer{
        display: flex;
        gap: 10px;
        
        .columna{

            .datos{
                text-align: right;
            }
        }

    }
}
