.punto{
    font-size: 50px;
    font-weight: 800;
    color: #BE3144;
    font-family: "Pixelify Sans", serif;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}


.letra{
    color: #BE3144;
}

h3, h1,span{
    margin: 0px;
    padding: 0px;
}

.logo{
    padding: 0px;
    h1{
        font-family: "Silkscreen", serif;
        align-items: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        padding: 0px;
        margin: 0px;
        font-size: 23px;
        transition: 0.4s;
    }

    h1:hover{
        transition: 0.4s;
        filter: drop-shadow(0px 0px 16px rgb(203, 10, 10));
    }
}


.header{
    background: rgb(0,0,0);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgb(7, 12, 42) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 23%;
    padding-left: 23%;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 14px;
    z-index: 10;
    top: 0;
    border-bottom: #BE3144 2px solid;


    .contenido{
        display: flex;
        gap: 20%;

        a{
            font-size: 100%;
        }

        a:hover{
            transition: 0.4s;
            color: #E17564;
        }
    }

    .menu{
        display: none;
    }

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgb(7, 12, 42) 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #BE3144;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 575px){
    .header{
        overflow: hidden;
        padding-right: 5%;
        padding-left: 5%;
        margin-bottom: 0px;

        .logo{
            h1{
                font-size: 20px;
            }
        }

        .contenido{
            display: none;
        }

        .menu{
            display: block;

            i{
                font-size: 30px;
            }
        }
    }
    
} 

@media only screen and (min-width: 576px) and (max-width: 767px){
    .header{
        overflow: hidden;
        padding-right: 5%;
        padding-left: 5%;
        margin-bottom: 0px;

        .contenido{
            display: none;
        }

        .menu{
            display: block;

            i{
                font-size: 30px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 993px) {
    .header{
        overflow: hidden;
        padding-right: 5%;
        padding-left: 5%;
        margin-bottom: 0px;

        .contenido{
            display: none;
        }

        .menu{
            display: block;

            i{
                font-size: 30px;
            }
        }
    }
}




