---
import '../styles/footer.css'
---

<div class="footer">
    <div class="columna primera">
        <a href="#"><h2>JUANJO GARCÍA</h2></a>
    </div>
    <div class="columna segunda">
        <a href="#experiencia"><p>Experiencia</p></a>
        <a href="#tecnologias"><p>Tecnologías</p></a>
        <a href="#proyectos"><p>Proyectos</p></a>
        <a href="#contacto"><p>Contacto</p></a>
    </div>
    <div class="columna tercera">
        <div class="datos">
            <p>Teléfono: +34 635 33 34 62</p>
            <p>Correo: juanjogarciagonzalez1808@gmail.com</p>
            <p>Córdoba 14001</p>
        </div>
        
    </div>
</div>