---
import '../styles/header.css'
---

<div class="header">
    <div class="logo">
        <a href="#"><h1><span class="letra">J</span>uanjo<span class="letra">G</span>arcía<span class="punto">.</span></h1></a>
    </div>
    <div class="contenido">
        <a href="#experiencia"><h3>Experiencia</h3></a>
        <a href="#proyectos"><h3>Proyectos</h3></a>
        <a href="#contacto"><h3>Contacto</h3></a>
    </div>
</div>