---
import '../styles/header.css'

---

<div class="header">
    <div class="logo">
        <a href="#"><h1><span class="letra">J</span>uanjo<span class="letra">G</span>arcía<span class="punto">.</span></h1></a>
    </div>
    <div class="contenido">
        <a href="#experiencia"><h3>Experiencia</h3></a>
        <a href="#proyectos"><h3>Proyectos</h3></a>
        <a href="#contacto"><h3>Contacto</h3></a>
    </div>
    <div class="menu">
        <i class="bi bi-list" onclick="openNav()" id="menuOpen"></i>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#experiencia" onclick="closeNav()"><h3>Experiencia</h3></a>
    <a href="#tecnologias" onclick="closeNav()"><h3>Tecnologías</h3></a>
    <a href="#proyectos" onclick="closeNav()"><h3>Proyectos</h3></a>
    <a href="#contacto" onclick="closeNav()"><h3>Contacto</h3></a>
</div>
<script src="../components/SideNav.js"></script>


